window#waybar
{
  background: transparent;
	font-size: 15px;
	font-family: "Quincy", sans-serif;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
  color: rgba(240, 240, 240, 255);
}

.modules-left
{
  border-radius: 12px;
	border-radius: 6px;
  background-color: #191916;
}

.modules-center
{
  border-radius: 12px;
	padding-left: 2px;
  background-color: #191916;
}

.module, button {
  border-radius: 12px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  background-color: #191916;
  color: rgba(240, 240, 240, 255);
}

button
{
  border:none;
  box-shadow:none;
  outline:none;
}

#workspaces button.focused{
  color: rgba(194, 153, 80, 1);
}

#workspaces button:hover{
  color: rgba(194, 153, 80, 255);
}
